*
{
	margin : 0 ;
	padding : 0 ;
}

.menu ul li
{
 list-style:none;
 background-color:red;
 border:1px solid white;
 width:120px;
 height:35px;
 float:left;
 text-align:center;
 line-height:35px;
 position:relative;
 border-radius:15px;
 margin-left:500px;
}